<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Driver Detail</title>
</head>
<body>
{% block content %}
  <h1>Driver Detail: {{ object.username }}</h1>
  <p><strong>License number: </strong>{{ object.license_number }}</p>
  <p><strong>First Name: </strong>{{ object.first_name }}</p>
  <p><strong>Last Name: </strong>{{ object.last_name }}</p>
  <h2>Cars of Driver</h2>
  <tr>
    <th>ID</th>
    <th>Model</th> 
    <th>Manufacturer</th>
    <th>Year</th>
  </tr>
  {% for car in car_set_all %}
    <tr>
      <td><a href="{% url 'car-detail' car.id %}">{{ car.id }}</a></td>
      <td>{{ car.model }}</td>
      <td>{{ car.manufacturer.name}}</td>
      <td>{{ car.year }}</td>
    </tr>
  {% endfor %}
{% endblock %}
</body>
</html>